In [1]:
# import packages
import pandas as pd
import numpy as np

In [2]:
# import list of players
df = pd.read_csv("my_players.csv")
df.head()

            Player Position  Rank Team  Price  Points
0  Jonathan Taylor       RB   RB1  IND     76     297
1      Aaron Jones       RB  RB12   GB     54     212
2     Stefon Diggs       WR   WR5  BUF     52     210
3    D'Andre Swift       RB  RB10  DET     50     222
4     J.K. Dobbins       RB  RB19  BAL     37     197

## Find a lineup

In [4]:
# Take random sample of players at different positions until a team meets the price criteria
while True:
    
    qb =  df[df['Position']=="QB"].sample(n=1)
    rb =  df[df['Position']=="RB"].sample(n=2)
    wr =  df[df['Position']=="WR"].sample(n=2)
    te =  df[df['Position']=="TE"].sample(n=1)

    team = pd.concat([qb,rb,wr,te],ignore_index=True)
    
    #flex can be a rb, wr, or te, but not a player that's already on a team
    flex =  df[df['Position'].isin(["RB","WR","TE"])&~df['Player'].isin(team['Player'])].sample(n=2)

    team = pd.concat([team,flex],ignore_index=True)
    
    # total cost of players should be between $185 - $190 (leave at least $10 for bench)
    if(185<= sum(team['Price']) <=190):
        
        
        print(sum(team['Price']))
        print(sum(team['Points']))
        print(team)
        break

185
1498
                Player Position  Rank Team  Price  Points
0           Trey Lance       QB  QB13   SF      9     285
1            Joe Mixon       RB   RB5  CIN     64     235
2         James Conner       RB  RB11  ARI     44     216
3         Chris Godwin       WR  WR24   TB     15     173
4  Michael Pittman Jr.       WR  WR14  IND     28     183
5       Dallas Goedert       TE   TE8  PHI     10     122
6            D Hopkins       WR  WR46  ARI      7     141
7        Brandon Aiyuk       WR  WR45   SF      8     143

## Find the optimal lineup (maximize projected points)

In [5]:
# create lists for each postion and player prices
qbs,rbs,wrs,tes,flexs,prices= ([] for i in range(6))

# loop through each player and append lists with a 1 if they fit a position, and a 0 if they do not
for index,row in df.iterrows():
    if (row['Position']=="QB"):
        qbs.append(1)
        rbs.append(0)
        wrs.append(0)
        tes.append(0)
        flexs.append(0)
    elif(row['Position']=="RB"):
        qbs.append(0)
        rbs.append(1)
        wrs.append(0)
        tes.append(0)
        flexs.append(1)
    elif(row['Position']=="WR"):
        qbs.append(0)
        rbs.append(0)
        wrs.append(1)
        tes.append(0)
        flexs.append(1)
    else:
        qbs.append(0)
        rbs.append(0)
        wrs.append(0)
        tes.append(1)
        flexs.append(1)

    prices.append(row['Price'])

In [6]:
# create equality contraints (qb=1,flex=7)
lhs_eq = [qbs,flexs]
#flex = 7 because it includes the 5 players that fit other positions  
rhs_eq = [1,7]
print(lhs_eq)

[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1], [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0]]

In [7]:
# Inequality constraints 
# because linprog only solves maximization problems, it doesn't allow greater than inequality constraints (rb, wr,te)
# Making the values negative uses a less than sign so the contraint can be included
lhs_ineq = [np.negative(rbs).tolist(),np.negative(wrs).tolist(),np.negative(tes).tolist(),prices]
rhs_ineq = [-2,-2,-1,190]
print(lhs_ineq)

[[-1, -1, 0, -1, -1, -1, 0, 0, -1, 0, -1, 0, 0, 0, 0, 0, 0, 0, -1, 0, 0, 0, -1, -1, -1, -1, -1, -1, 0, 0, 0, 0, 0, -1, 0, -1, 0], [0, 0, -1, 0, 0, 0, -1, -1, 0, -1, 0, -1, -1, -1, -1, -1, 0, 0, 0, 0, -1, -1, 0, 0, 0, 0, 0, 0, 0, -1, 0, 0, -1, 0, -1, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, -1, -1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, -1, 0, 0, 0, 0, 0], [76, 54, 52, 50, 37, 33, 32, 28, 27, 25, 21, 20, 7, 17, 15, 15, 12, 10, 10, 9, 4, 9, 64, 60, 44, 8, 8, 36, 9, 8, 7, 5, 5, 4, 4, 4, 2]]

In [8]:
# set the goal which is as many points as possible
obj = (df['Points']*-1).tolist()
print(obj)

[-297, -212, -210, -222, -197, -191, -196, -183, -208, -182, -158, -174, -141, -174, -173, -160, -138, -122, -144, -285, -130, -156, -235, -227, -216, -145, -144, -201, -309, -143, -303, -109, -149, -100, -153, -104, -271]

In [9]:
# set bounds for what can be returned for each variable (player) 1 = in lineup
bnd = [(0,1)]*len(df)
bnd[0:5]

[(0, 1), (0, 1), (0, 1), (0, 1), (0, 1)]

In [10]:
from scipy.optimize import linprog

C:\Anaconda\envs\jupy2\lib\site-packages\scipy\__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.1
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [11]:
# optimize
opt = linprog(c=obj, A_ub=lhs_ineq, b_ub=rhs_ineq,
              A_eq=lhs_eq, b_eq=rhs_eq, bounds=bnd,
              method="highs")# update scipy to get integers only with integrality=np.array([1]*len(df))

In [12]:
# get array holding optimal players
# round to integer because version of scipy that anaconda supports does not have integrality argument for linprog function
selects = np.round(opt.x,0)

In [13]:
# Get indexes for players that were selected
inds = np.where(selects ==1)[0].tolist()
inds

[0, 6, 8, 13, 14, 16, 28, 34]

In [14]:
### View the dream team
dream_team=df.iloc[inds]

#Print players in optimal lineup
dream_team

              Player Position  Rank Team  Price  Points
0    Jonathan Taylor       RB   RB1  IND     76     297
6        Tee Higgins       WR   WR9  CIN     32     196
8   David Montgomery       RB  RB15  CHI     27     208
13    Darnell Mooney       WR  WR20  CHI     17     174
14      Chris Godwin       WR  WR24   TB     15     173
16    Dalton Schultz       TE   TE6  DAL     12     138
28         Tom Brady       QB   QB9   TB      9     309
34    Garrett Wilson       WR  WR37  NYJ      4     153

In [15]:
# Projected 150 points more than random lineup! 
sum(dream_team['Points'])

1648